[
    {
        "master":{
            "name":"xingtool_base",
            "databaseName":"xingtool_base",
            "userName":"wjp",
            "password":"wjp",
            "host":"127.0.0.1",
            "port":"3306",
            "charset":"utf8mb4",
            "maxOpenConns":20,
            "maxIdleConns":10,
            "maxLifetime":0
        },
        "slave":[
        ]
    }
]